extends ../layouts/default
include ../mixins/minitile

block content
	.container: .jumbotron
		// img(src='/images/logo.svg', width='160')
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
		// hr
			
		.row.margin-top
			.col.s12.m6
				.card.hoverable
					.card-content
						h3.card-title Find By Job Number
						.row
							.input-field.col.s8
								input#lookup-name(type='text')
							.valign-wrapper.col.s4
								.margin-top 
									a.valign.btn.waves-effect.margin-top.green Go
					.card-action
						a.btn-floating.btn-large.waves-effect.waves-light.green.margin-right(href='/quote') 
							i.material-icons add
						a.btn-floating.btn-large.waves-effect.waves-light.blue(href='/workorder') 
							i.material-icons search
		.row.margin-top
			.col.s12.m4
				.card.hoverable
					.card-content
						span.card-title Unassigned Jobs
						h3.row
							.col.s4
								i.orange-text.medium.material-icons warning
							.col.s4.offset-s4
								a(href='/workorders/search/unassigned') 6
						
			.col.s12.m4
				.card.hoverable
					.card-content
						span.card-title In Progress
						h3.row
							.col.s4
								i.green-text.medium.material-icons thumb_up
							.col.s4.offset-s4
								a(href='/workorders/search/inprogress')= data.inprogress

			.col.s12.m4
				.card.hoverable
					.card-content
						span.card-title Waiting For Part
						h3.row
							.col.s4
								i.grey-text.medium.material-icons hourglass_empty
							.col.s4.offset-s4
								a(href='/workorders/search/waiting') 2			
			.col.s12.m4
				.card.hoverable
					.card-content
						span.card-title Waiting For Customer
						h3.row
							.col.s4
								i.blue-text.medium.material-icons hourglass_empty
							.col.s4.offset-s4
								a(href='/workorders/search/waiting') 3		

				
			.col.s12.m12
				.card-panel
					a.btn.warm-blue.margin.waves-effect(href='operators') Manage Operators		
		
		
	//		
		.tiles-container
		.row
			.col-xs-12.col-sm-4
				a(href='#', title='Navigate to View Payment History')
				.next-payment.tile
					.text-right
					span.payment-amount= '$' 
					br
					.tile-name.bottom-left
					| Next payment
				.tile.another-tile
					h3 Another Tile
				.tile.last-payment
					h3 Number 3
			.col-xs-12.col-sm-4
				.tile.tile-full-height
					h3 Full Height
			.col-xs-12.col-sm-4.tiles-group
				.row
				.col.s6.m4
					+minitile('950', ("tile.create-ad"), 'Navigate somewhere!', 'fa-bolt', 'orange')
				.col.s6.m4
					+minitile('951', ("tile.buy-bitcoin"), 'Click to go to request doco', 'fa-bitcoin', 'green')
				.row
				.col.s6.m4
					+minitile('952', ("tile.contact-us"), 'Navigate somewhere!', 'fa-paper-plane-o', 'purple')
				.col.s6.m4
					+minitile('953', ("tile.sell-bitcoin"), 'Click to go to request doco', 'fa-bitcoin', 'orange')
					
		