extends ../layouts/default

block intro
	.container
		h1 Quote
		
block content
	.container
		.search-customer.panel.panel-default
			.panel-heading Customer
			.panel-body
				#customer-lookup-container

		if submitted
			h3 Quote Successfully Saved.
		else
			//.row: .col-sm-8.col-md-6
			form(method='post')
				input(type='hidden', name='action', value='quote')
				.form-group(class=validationErrors.items ? 'has-error' : null)
					if locals.standardItems
						label Service items
						.row
						each item, item_i in locals.standardItems
							.col-xs-12.col-sm-6
								h4
									input(type='checkbox' name="item"+item_i)
									span.margin-text= item
				.form-group(class=validationErrors.description ? 'has-error' : null)
					label Description of service
					textarea(name='description', id='description' value=formData['description']).form-control
				.form-actions
					button(type='submit', id='btn-save').btn.btn-primary Save
block js
	script(src='/js/bundle.js')
	
block css
	link(href="/styles/quote.css", rel="stylesheet")
