extends ../layouts/default

block intro
	.container
		h1 Quote
		
block content
	.container
		h3.header Customer
		#customer-lookup-container

		if submitted
			h4 Quote Successfully Saved.
		else
			h3.header Service
			//.row: .col-sm-8.col-md-6
			form(method='post')
				input(type='hidden', name='action', value='quote')
				.form-group(class=validationErrors.items ? 'has-error' : null)
					if locals.standardItems
						.row
							each item, item_i in locals.standardItems
								.col.s12.m6
									input(type="checkbox", id="item" + item_i) 
									label(for="item" + item_i)= item
								
				.input-field(class=validationErrors.description ? 'has-error' : null)
					i.material-icons.prefix mode_edit
					label(for='description') Description of service
					textarea(name='description', id='description' value=formData['description']).materialize-textarea
				#validation.card-panel.red.lighten-1.hide.white-text
					i.material-icons.margin-right info
					span#text Error text
				button(type='submit', id='btn-save').btn Save
block js
	script(src='/js/quote-bundle.js')
	
