extends ../layouts/default

block intro
	.container
		// h4.header= locals.title
		// hr
block content
	.container
		if user.isOperator
			h1 So you are an operator?!
		#wo-lookup-container.margin-top

		#validation.card-panel.red.lighten-1.hide.white-text
			i.material-icons.margin-right info
			span#text Error text
		
block js
	script.
		var workorders = !{JSON.stringify(locals.data.workorders)};

	script(src='/js/wo-bundle.js')
	
