extends ../layouts/default


block intro
	.container
		h1 Work Orders
		
block content
	.container
		.panel.panel-default
			.panel-heading Work Orders
			.panel-body
				#list-container

block js
	script(src='/js/workorder-bundle.js')
	
