.margin-top{
	margin-top: 10px;
}
.margin-top-sm{
	margin-top: 5px;
}
.customer-box .thumbnail{
	min-height: 200px;
}
.customer-box .thumbnail:hover{
	background-color: #eee;
	cursor: pointer;
}
.input-group{
	margin-top: 5px;
}
.customer-box-selected .thumbnail{
	border:1px black solid;
}
.margin-text{
	margin: 5px;
}