.margin-top{
	margin-top: 10px;
}
.margin-top-sm{
	margin-top: 5px;
}
.customer-box .thumbnail{
	min-height: 200px;
}
.customer-box .thumbnail:hover{
	background-color: lightblue;
	cursor: pointer;
}
.input-group{
	margin-top: 5px;
}