// Bootstrap
// =========

// You can include less bootstrap components if you like by
// importing the .less files you want directly, instead of
// the main bootstrap/bootstrap.less file.
//
// Bootstrap can be removed entirely by deleting this line.

// @import "bootstrap/bootstrap.less";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/variables.less";


// Site Styles
// ===========

// Add your own site style includes here
@import "site/layout.less";

// $fa-font-path:"../node_modules/font-awesome/fonts";
// @import "node_modules/font-awesome/less/font-awesome.less";

@import "materialize.min.css";
html{
	font-family: "Roboto", sans-serif;
}
.filler-child{
	height: 100%;
	width: 30px;
	position: absolute;
	left: 0;
	top: 0;
}
.alert-success{
	color: #2e7d32;
	background-color: #c8e6c9;
}
.alert-danger{
	color: #e53935;
	background-color: #ffcdd2;
}
.alert-info{
	color: #1565c0 ;
	background-color: #bbdefb;
}
.alert-warning{
	color: #ff6d00;
	background-color: #fff3e0;
}
.activity-card{
	padding-left: 50px;
}
.clickable{
	cursor: pointer;
}
.price{
	font-size: 24pt !important;	
	font-weight: 300;
	width: 80%;
}
h2, h3{
	color:#205081;
}

.small{
	font-size: .8em;
}
.service-description{
	font-size: 30pt !important;	
	font-weight: 300;
}
.big-font{
	font-size: 30pt !important;	
	font-weight: 300;
	color: red(#777);
}.header{
	color: #777;
	font-weight: 300;
}
.section-actions .btn{
	margin: 10px;
}
nav, .warm-blue{
	background-color: #205081;
	color: white;
}
.warm-blue:hover{
	background-color: #205081;
	color:yellow;
}
.font-double{
	font-style: 2em;
}
.margin{
	margin: 10px;
}
.margin-right{
	margin-right: 10px;
}		  
.margin-top{
	margin-top: 10px;
}
.margin-top-sm{
	margin-top: 5px;
}
.customer-box .card{
	min-height: 240px;
}

.input-group{
	margin-top: 5px;
}

.margin-text{
	margin: 5px;
}
